dist/
build/
bot_especialist.egg-info/
bot-especialist-3.9/
.idea/
/terraform/environment/.terraform/
/terraform/environment/.terraform.lock.hcl
/terraform/environment/dev/variables
/terraform/environment/terraform.tfstate.backup
/terraform/environment/terraform.tfstate
.env
/the-bot-specialist-dev-key.json
/assets/configs/app-configs.yaml
