aiofiles==23.2.1 ; python_version >= "3.9" and python_version < "3.12"
aiohappyeyeballs==2.4.4 ; python_version >= "3.9" and python_version < "3.12"
aiohttp==3.11.11 ; python_version >= "3.9" and python_version < "3.12"
aiosignal==1.3.2 ; python_version >= "3.9" and python_version < "3.12"
aiosqlite==0.20.0 ; python_version >= "3.9" and python_version < "3.12"
alembic==1.14.0 ; python_version >= "3.9" and python_version < "3.12"
annotated-types==0.7.0 ; python_version >= "3.9" and python_version < "3.12"
anyio==4.8.0 ; python_version >= "3.9" and python_version < "3.12"
apache-airflow-providers-apache-beam==5.9.1 ; python_version >= "3.9" and python_version < "3.12"
apache-airflow-providers-cncf-kubernetes==10.1.0 ; python_version >= "3.9" and python_version < "3.12"
apache-airflow-providers-common-compat==1.3.0 ; python_version >= "3.9" and python_version < "3.12"
apache-airflow-providers-common-io==1.5.0 ; python_version >= "3.9" and python_version < "3.12"
apache-airflow-providers-common-sql==1.21.0 ; python_version >= "3.9" and python_version < "3.12"
apache-airflow-providers-fab==1.5.2 ; python_version >= "3.9" and python_version < "3.12"
apache-airflow-providers-ftp==3.12.0 ; python_version >= "3.9" and python_version < "3.12"
apache-airflow-providers-google==10.26.0 ; python_version >= "3.9" and python_version < "3.12"
apache-airflow-providers-http==5.0.0 ; python_version >= "3.9" and python_version < "3.12"
apache-airflow-providers-imap==3.8.0 ; python_version >= "3.9" and python_version < "3.12"
apache-airflow-providers-slack==8.9.0 ; python_version >= "3.9" and python_version < "3.12"
apache-airflow-providers-smtp==1.9.0 ; python_version >= "3.9" and python_version < "3.12"
apache-airflow-providers-sqlite==4.0.0 ; python_version >= "3.9" and python_version < "3.12"
apache-airflow==2.9.3 ; python_version >= "3.9" and python_version < "3.12"
apache-airflow[cncf-kubernetes]==2.9.3 ; python_version >= "3.9" and python_version < "3.12"
apache-beam==2.59.0 ; python_version >= "3.9" and python_version < "3.12"
apispec[yaml]==6.8.1 ; python_version >= "3.9" and python_version < "3.12"
argcomplete==3.5.3 ; python_version >= "3.9" and python_version < "3.12"
asgiref==3.8.1 ; python_version >= "3.9" and python_version < "3.12"
async-timeout==5.0.1 ; python_version >= "3.9" and python_full_version < "3.11.3"
attrs==24.2.0 ; python_version >= "3.9" and python_version < "3.12"
babel==2.16.0 ; python_version >= "3.9" and python_version < "3.12"
backoff==2.2.1 ; python_version >= "3.9" and python_version < "3.12"
backports-tarfile==1.2.0 ; python_version >= "3.9" and python_version < "3.12"
blinker==1.9.0 ; python_version >= "3.9" and python_version < "3.12"
build==1.2.1 ; python_version >= "3.9" and python_version < "3.12"
cachelib==0.13.0 ; python_version >= "3.9" and python_version < "3.12"
cachetools==5.5.0 ; python_version >= "3.9" and python_version < "3.12"
cattrs==24.1.2 ; python_version >= "3.9" and python_version < "3.12"
certifi==2024.12.14 ; python_version >= "3.9" and python_version < "3.12"
cffi==1.17.1 ; python_version >= "3.9" and python_version < "3.12"
cfgv==3.4.0 ; python_version >= "3.9" and python_version < "3.12"
chardet==5.2.0 ; python_version >= "3.9" and python_version < "3.12"
charset-normalizer==3.4.1 ; python_version >= "3.9" and python_version < "3.12"
click==8.1.8 ; python_version >= "3.9" and python_version < "3.12"
clickclick==20.10.2 ; python_version >= "3.9" and python_version < "3.12"
cloudpickle==2.2.1 ; python_version >= "3.9" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "3.12"
colorlog==4.8.0 ; python_version >= "3.9" and python_version < "3.12"
configupdater==3.2 ; python_version >= "3.9" and python_version < "3.12"
connexion[flask]==2.14.1 ; python_version >= "3.9" and python_version < "3.12"
crcmod==1.7 ; python_version >= "3.9" and python_version < "3.12"
cron-descriptor==1.4.5 ; python_version >= "3.9" and python_version < "3.12"
croniter==6.0.0 ; python_version >= "3.9" and python_version < "3.12"
cryptography==43.0.1 ; python_version >= "3.9" and python_version < "3.12"
db-dtypes==1.3.1 ; python_version >= "3.9" and python_version < "3.12"
decorator==5.1.1 ; python_version >= "3.9" and python_version < "3.12"
deprecated==1.2.15 ; python_version >= "3.9" and python_version < "3.12"
dill==0.3.1.1 ; python_version >= "3.9" and python_version < "3.12"
distlib==0.3.9 ; python_version >= "3.9" and python_version < "3.12"
distro==1.9.0 ; python_version >= "3.9" and python_version < "3.12"
dnspython==2.7.0 ; python_version >= "3.9" and python_version < "3.12"
docopt==0.6.2 ; python_version >= "3.9" and python_version < "3.12"
docstring-parser==0.16 ; python_version >= "3.9" and python_version < "3.12"
docutils==0.21.2 ; python_version >= "3.9" and python_version < "3.12"
durationpy==0.9 ; python_version >= "3.9" and python_version < "3.12"
email-validator==2.2.0 ; python_version >= "3.9" and python_version < "3.12"
exceptiongroup==1.2.2 ; python_version >= "3.9" and python_version < "3.11"
fastavro==1.10.0 ; python_version >= "3.9" and python_version < "3.12"
fasteners==0.19 ; python_version >= "3.9" and python_version < "3.12"
filelock==3.16.1 ; python_version >= "3.9" and python_version < "3.12"
flask-appbuilder==4.5.2 ; python_version >= "3.9" and python_version < "3.12"
flask-babel==2.0.0 ; python_version >= "3.9" and python_version < "3.12"
flask-caching==2.0.1 ; python_version >= "3.9" and python_version < "3.12"
flask-jwt-extended==4.7.1 ; python_version >= "3.9" and python_version < "3.12"
flask-limiter==3.10.0 ; python_version >= "3.9" and python_version < "3.12"
flask-login==0.6.3 ; python_version >= "3.9" and python_version < "3.12"
flask-session==0.5.0 ; python_version >= "3.9" and python_version < "3.12"
flask-sqlalchemy==2.5.1 ; python_version >= "3.9" and python_version < "3.12"
flask-wtf==1.2.2 ; python_version >= "3.9" and python_version < "3.12"
flask==2.2.5 ; python_version >= "3.9" and python_version < "3.12"
frozenlist==1.5.0 ; python_version >= "3.9" and python_version < "3.12"
fsspec==2024.12.0 ; python_version >= "3.9" and python_version < "3.12"
gcloud-aio-auth==5.3.2 ; python_version >= "3.9" and python_version < "3.12"
gcloud-aio-bigquery==7.1.0 ; python_version >= "3.9" and python_version < "3.12"
gcloud-aio-storage==9.3.0 ; python_version >= "3.9" and python_version < "3.12"
gcsfs==2024.12.0 ; python_version >= "3.9" and python_version < "3.12"
google-ads==25.1.0 ; python_version >= "3.9" and python_version < "3.12"
google-analytics-admin==0.23.3 ; python_version >= "3.9" and python_version < "3.12"
google-api-core==2.24.0 ; python_version >= "3.9" and python_version < "3.12"
google-api-core[grpc]==2.24.0 ; python_version >= "3.9" and python_version < "3.12"
google-api-python-client==2.157.0 ; python_version >= "3.9" and python_version < "3.12"
google-auth-httplib2==0.2.0 ; python_version >= "3.9" and python_version < "3.12"
google-auth-oauthlib==1.2.1 ; python_version >= "3.9" and python_version < "3.12"
google-auth==2.37.0 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-aiplatform==1.76.0 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-appengine-logging==1.5.0 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-audit-log==0.3.0 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-automl==2.15.0 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-batch==0.17.33 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-bigquery-datatransfer==3.18.0 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-bigquery==3.27.0 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-bigtable==2.27.0 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-build==3.28.0 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-compute==1.23.0 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-container==2.55.0 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-core==2.4.1 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-datacatalog==3.24.1 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-dataflow-client==0.8.15 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-dataform==0.5.14 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-dataplex==2.6.0 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-dataproc-metastore==1.17.0 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-dataproc==5.16.0 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-dlp==3.26.0 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-kms==3.2.1 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-language==2.16.0 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-logging==3.11.3 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-memcache==1.11.0 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-monitoring==2.25.0 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-orchestration-airflow==1.16.0 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-os-login==2.16.0 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-pubsub==2.27.2 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-redis==2.17.0 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-resource-manager==1.14.0 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-run==0.10.14 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-secret-manager==2.20.0 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-spanner==3.51.0 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-speech==2.30.0 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-storage-transfer==1.15.0 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-storage==2.19.0 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-tasks==2.18.0 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-texttospeech==2.23.0 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-translate==3.19.0 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-videointelligence==2.15.0 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-vision==3.9.0 ; python_version >= "3.9" and python_version < "3.12"
google-cloud-workflows==1.16.0 ; python_version >= "3.9" and python_version < "3.12"
google-crc32c==1.6.0 ; python_version >= "3.9" and python_version < "3.12"
google-re2==1.1.20240702 ; python_version >= "3.9" and python_version < "3.12"
google-resumable-media==2.7.2 ; python_version >= "3.9" and python_version < "3.12"
googleapis-common-protos==1.66.0 ; python_version >= "3.9" and python_version < "3.12"
googleapis-common-protos[grpc]==1.66.0 ; python_version >= "3.9" and python_version < "3.12"
greenlet==3.1.1 ; python_version >= "3.9" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and python_version < "3.12"
grpc-google-iam-v1==0.14.0 ; python_version >= "3.9" and python_version < "3.12"
grpc-interceptor==0.15.4 ; python_version >= "3.9" and python_version < "3.12"
grpcio-gcp==0.2.2 ; python_version >= "3.9" and python_version < "3.12"
grpcio-status==1.62.3 ; python_version >= "3.9" and python_version < "3.12"
grpcio==1.69.0 ; python_version >= "3.9" and python_version < "3.12"
gunicorn==23.0.0 ; python_version >= "3.9" and python_version < "3.12"
h11==0.14.0 ; python_version >= "3.9" and python_version < "3.12"
hdfs==2.7.3 ; python_version >= "3.9" and python_version < "3.12"
httpcore==1.0.7 ; python_version >= "3.9" and python_version < "3.12"
httplib2==0.22.0 ; python_version >= "3.9" and python_version < "3.12"
httpx==0.28.1 ; python_version >= "3.9" and python_version < "3.12"
identify==2.6.5 ; python_version >= "3.9" and python_version < "3.12"
idna==3.10 ; python_version >= "3.9" and python_version < "3.12"
immutabledict==4.2.1 ; python_version >= "3.9" and python_version < "3.12"
importlib-metadata==8.5.0 ; python_version >= "3.9" and python_version < "3.12"
inflection==0.5.1 ; python_version >= "3.9" and python_version < "3.12"
itsdangerous==2.2.0 ; python_version >= "3.9" and python_version < "3.12"
jaraco-classes==3.4.0 ; python_version >= "3.9" and python_version < "3.12"
jaraco-context==6.0.1 ; python_version >= "3.9" and python_version < "3.12"
jaraco-functools==4.1.0 ; python_version >= "3.9" and python_version < "3.12"
jeepney==0.8.0 ; python_version >= "3.9" and python_version < "3.12" and sys_platform == "linux"
jinja2==3.1.4 ; python_version >= "3.9" and python_version < "3.12"
jiter==0.8.2 ; python_version >= "3.9" and python_version < "3.12"
jmespath==1.0.1 ; python_version >= "3.9" and python_version < "3.12"
joblib==1.4.2 ; python_version >= "3.9" and python_version < "3.12"
js2py==0.74 ; python_version >= "3.9" and python_version < "3.12"
json-merge-patch==0.2 ; python_version >= "3.9" and python_version < "3.12"
jsonpickle==3.4.2 ; python_version >= "3.9" and python_version < "3.12"
jsonschema-specifications==2024.10.1 ; python_version >= "3.9" and python_version < "3.12"
jsonschema==4.23.0 ; python_version >= "3.9" and python_version < "3.12"
jwt==1.3.1 ; python_version >= "3.9" and python_version < "3.12"
keyring==25.4.1 ; python_version >= "3.9" and python_version < "3.12"
kubernetes-asyncio==30.3.1 ; python_version >= "3.9" and python_version < "3.12"
kubernetes==31.0.0 ; python_version >= "3.9" and python_version < "3.12"
lazy-object-proxy==1.10.0 ; python_version >= "3.9" and python_version < "3.12"
limits==4.0.0 ; python_version >= "3.9" and python_version < "3.12"
linkify-it-py==2.0.3 ; python_version >= "3.9" and python_version < "3.12"
lockfile==0.12.2 ; python_version >= "3.9" and python_version < "3.12"
looker-sdk==24.20.0 ; python_version >= "3.9" and python_version < "3.12"
mako==1.3.8 ; python_version >= "3.9" and python_version < "3.12"
markdown-it-py==3.0.0 ; python_version >= "3.9" and python_version < "3.12"
markupsafe==3.0.2 ; python_version >= "3.9" and python_version < "3.12"
marshmallow-oneofschema==3.1.1 ; python_version >= "3.9" and python_version < "3.12"
marshmallow-sqlalchemy==0.28.2 ; python_version >= "3.9" and python_version < "3.12"
marshmallow==3.24.1 ; python_version >= "3.9" and python_version < "3.12"
mdit-py-plugins==0.4.2 ; python_version >= "3.9" and python_version < "3.12"
mdurl==0.1.2 ; python_version >= "3.9" and python_version < "3.12"
methodtools==0.4.7 ; python_version >= "3.9" and python_version < "3.12"
more-itertools==10.5.0 ; python_version >= "3.9" and python_version < "3.12"
multidict==6.1.0 ; python_version >= "3.9" and python_version < "3.12"
mypy-extensions==1.0.0 ; python_version >= "3.9" and python_version < "3.12"
mypy==1.14.1 ; python_version >= "3.9" and python_version < "3.12"
nodeenv==1.9.1 ; python_version >= "3.9" and python_version < "3.12"
numpy==1.26.4 ; python_version >= "3.9" and python_version < "3.12"
oauthlib==3.2.2 ; python_version >= "3.9" and python_version < "3.12"
objsize==0.7.0 ; python_version >= "3.9" and python_version < "3.12"
openai==1.56.2 ; python_version >= "3.9" and python_version < "3.12"
opentelemetry-api==1.29.0 ; python_version >= "3.9" and python_version < "3.12"
opentelemetry-exporter-otlp-proto-grpc==1.15.0 ; python_version >= "3.9" and python_version < "3.12"
opentelemetry-exporter-otlp-proto-http==1.15.0 ; python_version >= "3.9" and python_version < "3.12"
opentelemetry-exporter-otlp==1.15.0 ; python_version >= "3.9" and python_version < "3.12"
opentelemetry-proto==1.15.0 ; python_version >= "3.9" and python_version < "3.12"
opentelemetry-sdk==1.29.0 ; python_version >= "3.9" and python_version < "3.12"
opentelemetry-semantic-conventions==0.50b0 ; python_version >= "3.9" and python_version < "3.12"
ordered-set==4.1.0 ; python_version >= "3.9" and python_version < "3.12"
orjson==3.10.14 ; python_version >= "3.9" and python_version < "3.12"
packaging==24.2 ; python_version >= "3.9" and python_version < "3.12"
pandas-gbq==0.26.1 ; python_version >= "3.9" and python_version < "3.12"
pandas==2.1.4 ; python_version >= "3.9" and python_version < "3.12"
pathspec==0.12.1 ; python_version >= "3.9" and python_version < "3.12"
pendulum==2.1.2 ; python_version >= "3.9" and python_version < "3.12"
pip==24.2 ; python_version >= "3.9" and python_version < "3.12"
platformdirs==4.3.6 ; python_version >= "3.9" and python_version < "3.12"
pluggy==1.5.0 ; python_version >= "3.9" and python_version < "3.12"
pre-commit==4.0.1 ; python_version >= "3.9" and python_version < "3.12"
prison==0.2.1 ; python_version >= "3.9" and python_version < "3.12"
propcache==0.2.1 ; python_version >= "3.9" and python_version < "3.12"
proto-plus==1.25.0 ; python_version >= "3.9" and python_version < "3.12"
protobuf==4.25.5 ; python_version >= "3.9" and python_version < "3.12"
psutil==6.1.1 ; python_version >= "3.9" and python_version < "3.12"
pyarrow-hotfix==0.6 ; python_version >= "3.9" and python_version < "3.12"
pyarrow==16.1.0 ; python_version >= "3.9" and python_version < "3.12"
pyasn1-modules==0.4.0 ; python_version >= "3.9" and python_version < "3.12"
pyasn1==0.6.1 ; python_version >= "3.9" and python_version < "3.12"
pycparser==2.22 ; python_version >= "3.9" and python_version < "3.12"
pydantic-core==2.23.4 ; python_version >= "3.9" and python_version < "3.12"
pydantic==2.9.2 ; python_version >= "3.9" and python_version < "3.12"
pydata-google-auth==1.9.0 ; python_version >= "3.9" and python_version < "3.12"
pydot==1.4.2 ; python_version >= "3.9" and python_version < "3.12"
pygments==2.19.1 ; python_version >= "3.9" and python_version < "3.12"
pyjsparser==2.7.1 ; python_version >= "3.9" and python_version < "3.12"
pyjwt==2.10.1 ; python_version >= "3.9" and python_version < "3.12"
pymongo==4.10.1 ; python_version >= "3.9" and python_version < "3.12"
pyopenssl==24.3.0 ; python_version >= "3.9" and python_version < "3.12"
pyparsing==3.2.1 ; python_version >= "3.9" and python_version < "3.12"
pyproject-hooks==1.2.0 ; python_version >= "3.9" and python_version < "3.12"
python-daemon==3.1.2 ; python_version >= "3.9" and python_version < "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.9" and python_version < "3.12"
python-nvd3==0.16.0 ; python_version >= "3.9" and python_version < "3.12"
python-slugify==8.0.4 ; python_version >= "3.9" and python_version < "3.12"
pytz==2024.2 ; python_version >= "3.9" and python_version < "3.12"
pytzdata==2020.1 ; python_version >= "3.9" and python_version < "3.12"
pywin32-ctypes==0.2.3 ; python_version >= "3.9" and python_version < "3.12" and sys_platform == "win32"
pyyaml==6.0.2 ; python_version >= "3.9" and python_version < "3.12"
redis==5.2.1 ; python_version >= "3.9" and python_version < "3.12"
referencing==0.35.1 ; python_version >= "3.9" and python_version < "3.12"
regex==2024.11.6 ; python_version >= "3.9" and python_version < "3.12"
requests-oauthlib==2.0.0 ; python_version >= "3.9" and python_version < "3.12"
requests-toolbelt==1.0.0 ; python_version >= "3.9" and python_version < "3.12"
requests==2.32.3 ; python_version >= "3.9" and python_version < "3.12"
rfc3339-validator==0.1.4 ; python_version >= "3.9" and python_version < "3.12"
rich-argparse==1.6.0 ; python_version >= "3.9" and python_version < "3.12"
rich==13.9.4 ; python_version >= "3.9" and python_version < "3.12"
rpds-py==0.22.3 ; python_version >= "3.9" and python_version < "3.12"
rsa==4.9 ; python_version >= "3.9" and python_version < "3.12"
scikit-learn==1.5.1 ; python_version >= "3.9" and python_version < "3.12"
scipy==1.13.1 ; python_version >= "3.9" and python_version < "3.12"
secretstorage==3.3.3 ; python_version >= "3.9" and python_version < "3.12" and sys_platform == "linux"
setproctitle==1.3.4 ; python_version >= "3.9" and python_version < "3.12"
setuptools==75.1.0 ; python_version >= "3.9" and python_version < "3.12"
shapely==2.0.6 ; python_version >= "3.9" and python_version < "3.12"
six==1.17.0 ; python_version >= "3.9" and python_version < "3.12"
slack-sdk==3.34.0 ; python_version >= "3.9" and python_version < "3.12"
sniffio==1.3.1 ; python_version >= "3.9" and python_version < "3.12"
sqlalchemy-bigquery==1.12.0 ; python_version >= "3.9" and python_version < "3.12"
sqlalchemy-jsonfield==1.0.2 ; python_version >= "3.9" and python_version < "3.12"
sqlalchemy-spanner==1.8.0 ; python_version >= "3.9" and python_version < "3.12"
sqlalchemy-utils==0.41.2 ; python_version >= "3.9" and python_version < "3.12"
sqlalchemy==1.4.54 ; python_version >= "3.9" and python_version < "3.12"
sqlparse==0.5.3 ; python_version >= "3.9" and python_version < "3.12"
tabulate==0.9.0 ; python_version >= "3.9" and python_version < "3.12"
tenacity==9.0.0 ; python_version >= "3.9" and python_version < "3.12"
termcolor==2.5.0 ; python_version >= "3.9" and python_version < "3.12"
text-unidecode==1.3 ; python_version >= "3.9" and python_version < "3.12"
threadpoolctl==3.5.0 ; python_version >= "3.9" and python_version < "3.12"
tiktoken==0.7.0 ; python_version >= "3.9" and python_version < "3.12"
toml==0.10.2 ; python_version >= "3.9" and python_version < "3.12"
tomli==2.2.1 ; python_version >= "3.9" and python_version < "3.11"
tqdm==4.67.1 ; python_version >= "3.9" and python_version < "3.12"
typing-extensions==4.12.2 ; python_version >= "3.9" and python_version < "3.12"
tzdata==2024.2 ; python_version >= "3.9" and python_version < "3.12"
tzlocal==5.2 ; python_version >= "3.9" and python_version < "3.12"
uc-micro-py==1.0.3 ; python_version >= "3.9" and python_version < "3.12"
unicodecsv==0.14.1 ; python_version >= "3.9" and python_version < "3.12"
universal-pathlib==0.2.6 ; python_version >= "3.9" and python_version < "3.12"
uritemplate==4.1.1 ; python_version >= "3.9" and python_version < "3.12"
urllib3==2.3.0 ; python_version >= "3.9" and python_version < "3.12"
virtualenv==20.28.1 ; python_version >= "3.9" and python_version < "3.12"
websocket-client==1.8.0 ; python_version >= "3.9" and python_version < "3.12"
werkzeug==2.3.8 ; python_version >= "3.9" and python_version < "3.12"
wheel==0.43.0 ; python_version >= "3.9" and python_version < "3.12"
wirerope==0.4.8 ; python_version >= "3.9" and python_version < "3.12"
wrapt==1.17.0 ; python_version >= "3.9" and python_version < "3.12"
wtforms==3.2.1 ; python_version >= "3.9" and python_version < "3.12"
yarl==1.18.3 ; python_version >= "3.9" and python_version < "3.12"
zipp==3.21.0 ; python_version >= "3.9" and python_version < "3.12"
zstandard==0.23.0 ; python_version >= "3.9" and python_version < "3.12"
